
{% extends "base.html" %}
{% block content %}
{% load humanize %}

    {% if object.barks.all %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>Bark</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object.barks.all %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">
                            {{ object.user }}
                        </a>
                    </td>
                    <td>{{ object.content }}</td>
                    <td>{{ object.published_at|naturaltime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No barks
    {% endif %}

{% endblock %}